<div class="text-end mt-3">
  <%= form_with(url: results_path, method: :get, local: true) do |f| %>
  
    <%= f.date_field :day_from, value: @day_from %> ~
    <%= f.date_field :day_to, value: @day_to %>
    
    <%= submit_tag '検索', class: "button" %>
  
  <% end %>
</div>


  <h5>温度逸脱率</h5>
  <div class="wrapper">
    <aside class="left">
      <div class="box1">
      <h1><%= number_to_percentage(@deviation_rate, precision:1) %></h1>
      </div>
    </aside>
    <div class="main">
      <p><%='発送数　　　' %><%= @dispatch_number %></p>
      <p><%='温度逸脱　　' %><%= @deviation_number %></p>
    </div>
  </div>


  <div class="wrapper">
   <aside class="left">
    
  <h5>温度逸脱場所</h5>
    <div id='map'></div>
    
    <style>
    #map{
      height: 500px;
      width: 800px;
    }
    </style>
    
    <script>
    
    function initMap(){
      map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: 35.681236, lng: 139.767125},
      zoom: 8
      });
      
       <% @deviations.each do |deviation| %>
      marker = new google.maps.Marker({
        position:  {lat: <%=deviation.latitude %>, lng:<%=deviation.longitude %>},
        map: map,
        icon: {
    		fillColor: "#FF0000",                
    		fillOpacity: 0.8,                   
    		path: google.maps.SymbolPath.CIRCLE, 
    		scale: 8,                           
    		strokeColor: "#FF0000",              
    		strokeWeight: 1.0                    
    	},
    	label: {
    		text: '<%=deviation.unit_id %>',                           
    		color: '#FFFFFF',                    
    		fontSize: '20px'                     
    	},
      });
      
      infowindow = new google.maps.InfoWindow({
        content: '<%=deviation.time.strftime("%Y-%m-%d %H:%M") %>',
      });
      
      infowindow.open(map, marker);
      
       <% end %>
    }
    </script>
    
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDJ-iUrMR3kpO9ir_CO0OXdg2hdiKsolnM&callback=initMap" async defer></script>
    
  </aside>
  
  <div class=main2>
    
  <h5>温度逸脱日時</h5>
    <table class="table">
      <tr>
        <th class="text-center">ユニット</th>
        <th class="text-center">日時</th>
        <th class="text-center">温度</th>
      </tr>
    
        <% @deviations.each do |deviation| %>
    
      <tr>
        <th class="text-center"><%= deviation.unit.id %></th>
        <th class="text-center"><%= deviation.time.strftime("%Y-%m-%d %H:%M")%></th>
        <th class="text-center"><%= deviation.temperature %></th>
      </tr>
      
        <% end %>
    </table>
    
  </div>

</div>

