<% if logged_in? %>
<div class="text-end h3">
    <%= Time.zone.now.strftime("%Y-%m-%d %H:%M") %>
</div>

<div>
<p>通常：</span><span class="circle_blue">　 </span>
<span>　温度注意：</span><span class="circle_orange">　 </span>
<span>　温度逸脱：</span><span class="circle_red">　 </span>
<span>　不稼働：</span><span class="circle_gray">　  </span>
<span>　</span>
</div>

<div id='map'></div>

<style>
#map{
  height: 700px;
}
</style>

<script>

function initMap(){
  map = new google.maps.Map(document.getElementById('map'), {
  center: {lat: 35.681236, lng: 139.767125},
  zoom: 8
  });
  
   <% @units.each do |unit| %>
   <% @temperatures.each do |temperature| %>
  marker = new google.maps.Marker({
    position:  {lat: <%=temperature.latitude %>, lng:<%=temperature.longitude %>},
    map: map,
   <% if temperature.time >= '2021-09-11' and temperature.unit.send(@today) == 1 %>
    
    <% if temperature.temperature > (temperature.unit.lower_temperature+1) and temperature.temperature < (temperature.unit.upper_temperature-1) %>
    icon: {
		fillColor: "blue",                //塗り潰し色
		fillOpacity: 0.8,                    //塗り潰し透過率
		path: google.maps.SymbolPath.CIRCLE, //円を指定
		scale: 8,                           //円のサイズ
		strokeColor: "blue",              //枠の色
		strokeWeight: 1.0                    //枠の透過率
	},

		<% elsif temperature.temperature <= (temperature.unit.lower_temperature+1) and temperature.temperature >= temperature.unit.lower_temperature %>
	 icon: {
		fillColor: "#FF6600",                //塗り潰し色
		fillOpacity: 0.8,                    //塗り潰し透過率
		path: google.maps.SymbolPath.CIRCLE, //円を指定
		scale: 8,                           //円のサイズ
		strokeColor: "#FF6600",              //枠の色
		strokeWeight: 1.0                    //枠の透過率
	},
	<% elsif temperature.temperature <= temperature.unit.upper_temperature and temperature.temperature >= (temperature.unit.upper_temperature-1) %>
	 icon: {
		fillColor: "#FF6600",                //塗り潰し色
		fillOpacity: 0.8,                    //塗り潰し透過率
		path: google.maps.SymbolPath.CIRCLE, //円を指定
		scale: 8,                           //円のサイズ
		strokeColor: "#FF6600",              //枠の色
		strokeWeight: 1.0                    //枠の透過率
	},
	
	<% elsif temperature.temperature < temperature.unit.lower_temperature or temperature.temperature > temperature.unit.upper_temperature %>
	 icon: {
		fillColor: "red",                //塗り潰し色
		fillOpacity: 0.8,                    //塗り潰し透過率
		path: google.maps.SymbolPath.CIRCLE, //円を指定
		scale: 8,                           //円のサイズ
		strokeColor: "red",              //枠の色
		strokeWeight: 1.0                    //枠の透過率
	},
	
	
	<% end %>
   
   <% else %>
	icon: {
		fillColor: "gray",                //塗り潰し色
		fillOpacity: 0.8,                    //塗り潰し透過率
		path: google.maps.SymbolPath.CIRCLE, //円を指定
		scale: 8,                           //円のサイズ
		strokeColor: "gray",              //枠の色
		strokeWeight: 1.0                    //枠の透過率
	},
   <% end %>
	
	label: {
		text: '<%=temperature.unit_id %>',                           //ラベル文字
		color: '#FFFFFF',                    //文字の色
		fontSize: '20px'                     //文字のサイズ
	},
  });
  
  infowindow = new google.maps.InfoWindow({
    content: '出発地：<%=temperature.unit.origin %><br>目的地：<%=temperature.unit.destination %><br>所有者：<%=temperature.unit.owner %><br>温度：<%=temperature.temperature %>',
  });
  
  infowindow.open(map, marker);
  
   <% end %>
   <% end %>
}
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDJ-iUrMR3kpO9ir_CO0OXdg2hdiKsolnM&callback=initMap" async defer></script>

 <% @temperatures.each do |temperature| %>
 <% if temperature.temperature < 3 %>
 <p>1</p>
 <% else %>
 <p>2</p>
 <% end %>
 
 <% end %>
    
<% else %>
 <div class="row">
    <div class="background">
     <p class="white">Green ChainはIoTデバイスによる温度モニタリング</br>を通じて高品質・クリーンなコールドチェーン構築</br>をサポートするWebサービスです</p>
     <div class="text-center boxtop">
        <p><%= link_to '新規登録', signup_path, class: 'btn btn-lg btn-success' %></p>
        <p><%= link_to 'ログイン', login_path, class: 'btn btn-lg btn-success' %></p>
     </div>
    </div>
 </div>
<% end %>