 <%= image_tag "tablet.svg", size: '100x200' %><%= "ユニット　　" %><%= @units.unit %>
 
 <p><%= '【属性情報】' %></p>
 
 <%= form_with(model: @units) do |f| %>
  <ol>
     <li><%= f.label :origin, '出発地' %><%= f.text_field :origin %></li>
     <li><%= f.label :destination, '目的地' %><%= f.text_field :destination %></li>
     <li><%= f.label :owner, '所有者' %><%= f.text_field :owner %></li>
     <li><%= f.label :departure_time, '出発時間' %><%= f.time_field :departure_time %></li>
     <li><%= f.label :arrival_time, '到着時間' %><%= f.time_field :arrival_time %></li>
  </ol>
     <%= f.label :monday, '月' %>
     <%= f.number_field :monday %>
     
     <%= f.label :tuesday, '火' %>
     <%= f.number_field :tuesday %>
     
     <%= f.label :wednesday, '水' %>
     <%= f.number_field :wednesday %>
     
     <%= f.label :thursday, '木' %>
     <%= f.number_field :thursday %>

     <%= f.label :friday, '金' %>
     <%= f.number_field :friday %>
     
     <%= f.label :saturday, '土' %>
     <%= f.number_field :saturday %>
     
     <%= f.label :sunday, '日' %>
     <%= f.number_field :sunday %>
    
  <p><%='【アラート】' %></p>
  
  <ol>
     <li><%= f.label :upper_temperature, '上限温度（℃）' %><%= f.number_field :upper_temperature %></li>
     <li><%= f.label :lower_temperature, '下限温度（℃）' %><%= f.number_field :lower_temperature %></li>
  </ol>
  
     <%=f.submit '更新' %>
 <% end %>
 
 <p><%='【メモリー消去】' %></p>
 
 <%= form_with(url: unit_path, method: :delete, local: true) do |f| %>

  <%= f.label :memory, "期間" %>
  <%= f.date_field :day_from, value: @day_from %> ~
  <%= f.date_field :day_to, value: @day_to %>
  
  <%= submit_tag '消去', class: "button" %>
  
 <% end %>

 
