<div class="wrapper_units">
   <aside_units class="left">

        <table class="table">
            <tr>
                <th class="text-center" >ユニット</th>
                <th class="text-center">出発地</th>
                <th class="text-center">目的地</th>
                <th class="text-center">所有者</th>
                <th class="text-center">状態</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>  
                <% @temperatures.each do |temperature| %>
            <tr>
                <th class="text-center"><%=temperature.unit.unit %></th>
                <th class="text-center"><%=temperature.unit.origin %></th>
                <th class="text-center"><%=temperature.unit.destination %></th>
                <th class="text-center"><%=temperature.unit.owner %></th>
                <th class="text-center">
                    
                     <% if temperature.time >= Date.today and temperature.unit.send(@today) == 1 %>
            
                         <% if temperature.temperature > (temperature.unit.lower_temperature+1) and temperature.temperature < (temperature.unit.upper_temperature-1) %>
                            通常
                         <% elsif temperature.temperature <= (temperature.unit.lower_temperature+1) and temperature.temperature >= temperature.unit.lower_temperature %>
                            温度注意
                         <% elsif temperature.temperature <= temperature.unit.upper_temperature and temperature.temperature >= (temperature.unit.upper_temperature-1) %>
                            温度注意
                   	     <% elsif temperature.temperature < temperature.unit.lower_temperature or temperature.temperature > temperature.unit.upper_temperature %>
                   	        温度逸脱
                         <% end %>
    
                     <% else %>
                            不稼働
                     <% end %>
                    
                    
                    </th> 
                <th class="text-center"><%= link_to "詳細", unit_path(temperature.unit.id) %></th>
                <th class="text-center"><%= link_to "結果", result_path(temperature.unit.id) %></th>
                <th class="text-center"><%= link_to "設定", edit_unit_path(temperature.unit.id)%></th>
            </tr>
                <% end %>
        </table>
    
    </aside_units>
  
  <div class=main_units>
    
        <div class="text-end h3">
          <%= Time.zone.now.strftime("%Y-%m-%d %H:%M") %>
        </div>
        
        <div id='map'></div>
        
        <style>
        #map{
          height: 500px;
          width: 750px;
        }
        </style>
        
        <script>
        
        function initMap(){
          map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 35.681236, lng: 139.767125},
          zoom: 8
          });
          
           <% @temperatures.each do |temperature| %>
           
            marker = new google.maps.Marker({
            position:  {lat: <%=temperature.latitude %>, lng:<%=temperature.longitude %>},
            map: map,
            
           <% if temperature.time >= Date.today and temperature.unit.send(@today) == 1 %>
            
            <% if temperature.temperature > (temperature.unit.lower_temperature+1) and temperature.temperature < (temperature.unit.upper_temperature-1) %>
            icon: {
        		fillColor: "blue",                
        		fillOpacity: 0.8,                    
        		path: google.maps.SymbolPath.CIRCLE, 
        		scale: 8,                           
        		strokeColor: "blue",            
        		strokeWeight: 1.0                    
        	},
        
        		<% elsif temperature.temperature <= (temperature.unit.lower_temperature+1) and temperature.temperature >= temperature.unit.lower_temperature %>
        	 icon: {
        		fillColor: "#FF6600",                
        		fillOpacity: 0.8,                    
        		path: google.maps.SymbolPath.CIRCLE, 
        		scale: 8,                           
        		strokeColor: "#FF6600",            
        		strokeWeight: 1.0                   
        	},
        	<% elsif temperature.temperature <= temperature.unit.upper_temperature and temperature.temperature >= (temperature.unit.upper_temperature-1) %>
        	 icon: {
        		fillColor: "#FF6600",             
        		fillOpacity: 0.8,                   
        		path: google.maps.SymbolPath.CIRCLE, 
        		scale: 8,                         
        		strokeColor: "#FF6600",             
        		strokeWeight: 1.0                   
        	},
        	
        	<% elsif temperature.temperature < temperature.unit.lower_temperature or temperature.temperature > temperature.unit.upper_temperature %>
        	 icon: {
        		fillColor: "red",                
        		fillOpacity: 0.8,                   
        		path: google.maps.SymbolPath.CIRCLE, 
        		scale: 8,                           
        		strokeColor: "red",              
        		strokeWeight: 1.0                   
        	},
        	
        	
        	<% end %>
           
           <% else %>
        	icon: {
        		fillColor: "gray",               
        		fillOpacity: 0.8,                   
        		path: google.maps.SymbolPath.CIRCLE, 
        		scale: 8,                           
        		strokeColor: "gray",             
        		strokeWeight: 1.0                  
        	},
        	
           <% end %>
        	
        	label: {
        		text: '<%=temperature.unit_id %>',                           
        		color: '#FFFFFF',                    
        		fontSize: '20px'                     
        	},
          });
          
          infowindow = new google.maps.InfoWindow({
            content: '出発地：<%=temperature.unit.origin %><br>目的地：<%=temperature.unit.destination %><br>所有者：<%=temperature.unit.owner %><br>温度：<%=temperature.temperature %>',
          });
          
          infowindow.open(map, marker);
          
           <% end %>
        }
        </script>
        
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDJ-iUrMR3kpO9ir_CO0OXdg2hdiKsolnM&callback=initMap" async defer></script>
    
    </div>
</div>