<table class="table">
    <tr>
        <th>ユニット</th>
        <th>出発地</th>
        <th>目的地</th>
        <th>所有者</th>
        <th>状態</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>  
        <% @units.each do |unit| %>
    <tr>
        <th><%=unit.unit %></th>
        <th><%=unit.origin %></th>
        <th><%=unit.destination %></th>
        <th><%=unit.owner %></th>
        <th>通常</th> 
        <th><%= link_to "詳細", unit %></th>
        <th><%= link_to "結果", results_path(unit) %></th>
        <th>設定</th>
    </tr>
        <% end %>
</table>

<%# 通常は条件文、詳細・結果・設定はルート設定必要%>

<%= Time.zone.now.strftime("%Y-%m-%d %H:%M") %>

<h2>gmap</h2>
<div id='map'></div>

<style>
#map{
  height: 400px;
}
</style>

<script>

function initMap(){
  map = new google.maps.Map(document.getElementById('map'), {
  center: {lat: 35.681236, lng: 139.767125},
  zoom: 8
  });
  
   <% @temperatures.each do |temperature| %>
  marker = new google.maps.Marker({
    position:  {lat: <%=temperature.latitude %>, lng:<%=temperature.longitude %>},
    map: map,
    icon: {
		fillColor: "#FF0000",                //塗り潰し色
		fillOpacity: 0.8,                    //塗り潰し透過率
		path: google.maps.SymbolPath.CIRCLE, //円を指定
		scale: 8,                           //円のサイズ
		strokeColor: "#FF0000",              //枠の色
		strokeWeight: 1.0                    //枠の透過率
	},
	label: {
		text: '<%=temperature.unit_id %>',                           //ラベル文字
		color: '#FFFFFF',                    //文字の色
		fontSize: '20px'                     //文字のサイズ
	},
  });
  
  infowindow = new google.maps.InfoWindow({
    content: '<%=temperature.temperature %>',
  });
  
  infowindow.open(map, marker);
  
   <% end %>
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDJ-iUrMR3kpO9ir_CO0OXdg2hdiKsolnM&callback=initMap" async defer></script>