<h1>検索</h1>
<%= form_with(url: results_path, method: :get, local: true) do |f| %>

  <%= f.label :temperature, "期間" %>
  <%= f.date_field :day_from, value: @day_from %> ~
  <%= f.date_field :day_to, value: @day_to %>
  
  <%= submit_tag '検索', class: "button" %>

<% end %>

<% @temperatures.each do |temperature| %>

 <%# if temperature.temperature = 8 %>

    <p><%= temperature.temperature %></p>
  
 <%# else %>
 
 <%# end %>

<% end %>

<%= Temperature.where('temperature < ?', 8 ).first.temperature %>